<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item routerLink="/admin">统计分析</nz-breadcrumb-item>
  <nz-breadcrumb-item>用户订单</nz-breadcrumb-item>
</nz-breadcrumb>


<div style="padding:30px;">
  <div style="background:#fff;">
    <nz-card>
      <ng-template #title>
        搜索今日订单
      </ng-template>
      <ng-template #body>
        <div>
          关键字
          <div style="margin-bottom:40px;">
            <nz-input [(ngModel)]="keyword" [nzPlaceHolder]="'输入用户名或手机号'" style="max-width:200px;"></nz-input> 选择日期
            <nz-rangepicker [(ngModel)]="dateRange" [nzPlaceholder]="['选择起始日期', '选择终止日期']"></nz-rangepicker>

          </div>
        </div>

        <button nz-button *ngFor="let state of states" (click)="refersh(state.state)">
          {{state.label}}
        </button>
        <br>
        <button nz-button *ngFor="let state of states2" (click)="refersh(state.state)">
          {{state.label}}
        </button>

      </ng-template>
    </nz-card>
    <nz-card>
      <ng-template #title>用户订单</ng-template>
      <ng-template #body>
        <nz-table #nzTable [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
          <thead nz-thead>
            <tr>
              <th nz-th nzCheckbox>
                <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                </label>
              </th>
              <th nz-th>
                <span>用户昵称</span>
              </th>
              <th nz-th>
                <span>手机号</span>
              </th>
              <th nz-th>
                <span>业绩</span>
              </th>
              <th nz-th>状态</th>
              <th nz-th>购买数量</th>
              <th nz-th>创建时间</th>
              <th nz-th>操作</th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let order of orders">
              <td nz-td nzCheckbox>
                <label nz-checkbox [(ngModel)]="order.checked" (ngModelChange)="_refreshStatus($event)">
                </label>
              </td>
              <td nz-td>{{order.user?.nickname || order.user?.Nickname}}</td>
              <td nz-td>{{order.createDt | date:'yyyy-MM-dd hh-mm-ss'}}</td>
              <td nz-td>{{order.product.name}}</td>
              <td nz-td>
                <app-order-state [state]="order.state"></app-order-state>
              </td>
              <td nz-td>{{order.num}}</td>
              <td nz-rd>{{order.createDt | date:"yyyy-MM-dd"}}</td>
              <!-- <td nz-td>{{user.createDt | date:'yyyy-MM-DD hh:mm:ss '}}</td> -->
              <td>
                <a routerLink="/admin/order-detail" [queryParams]="{orderId:order._id}">详情</a> &nbsp;&nbsp;&nbsp;
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-template>
    </nz-card>
  </div>
</div>
