<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item routerLink="/admin">产品管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>产品分类管理</nz-breadcrumb-item>
</nz-breadcrumb>


<!-- 删除确认框 -->


<div style="padding:30px">
  <div style="background:#fff">
    <nz-card>
      <ng-template #title>
        产品组 搜索
      </ng-template>
      <ng-template #body>
        <div style="margin:40px auto">
          <nz-input [(ngModel)]="keyword" [nzPlaceHolder]="'输入产品组名'" style="max-width:200px;"></nz-input> 选择日期
          <button nz-button [nzType]="'primary'">查询</button>
          <button nz-button>重置</button>

          只显示推荐产品组:
          <nz-switch [(ngModel)]="showRecommand"></nz-switch>
        </div>
        <div style="padding:20px 0;">
          <button nz-button [nzType]="'primary'" (click)="showModal()">添加产品组</button>
          <button nz-button>
            <nz-popconfirm [nzTitle]="'确认删除'" [nzOkText]="'确定'" [nzCancelText]="'取消'" (nzOnConfirm)="deleteGroups()">
              <a nz-popconfirm>删除选中</a>
            </nz-popconfirm>


          </button>

        </div>
        <hr>
        <div style="margin-bottom: 16px;">
          <nz-alert [nzType]="'info'" style="margin-left: 8px;" *ngIf="_checkedNumber">
            <span alert-body>
              选中 {{_checkedNumber}} 条
            </span>
          </nz-alert>

        </div>
        <nz-table #nzTable [nzDataSource]="groups" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()"
          (nzPageSizeChange)="_refreshStatus()">
          <thead nz-thead>
            <tr>
              <th nz-th nzCheckbox>
                <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                </label>
              </th>
              <th nz-th>
                <span>产品组</span>
              </th>
              <th nz-th>
                简述
              </th>
              <th nz-th>
                <span>数量</span>
              </th>
              <th nz-th>
                <span>广告图</span>
              </th>
              <th nz-th>
                <span>创建时间</span>
              </th>
              <th nz-th>
                <span>操作</span>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td nzCheckbox>
                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                </label>
              </td>
              <td nz-td>{{data.groupName}}</td>
              <td nz-td>{{data.summary}}</td>
              <td nz-td>{{data.children.length}}</td>
              <td nz-td>
                <ng-container *ngIf="data.image">
                  <img [src]="data.image.url" alt="" style="max-height:80px;">
                </ng-container>
              </td>
              <td nz-td>{{data.createDt | date:'yyyy-MM-dd hh:mm'}}</td>
              <td nz-td>
                <a (click)="selectedGroup=data;modifyModalVisible=true">修改信息</a>
                <a>折扣管理</a>
                <!-- <a>查询</a> -->
              </td>
            </tr>
          </tbody>
        </nz-table>

      </ng-template>
    </nz-card>
  </div>
</div>


<!-- 显示添加产品组对话框 -->

<nz-modal [nzVisible]="isVisible" [nzTitle]="'添加产品组'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleCancel($event);createGroup()">
  <ng-template #modalContent>
    <div class="field">
      <label class="label"> 产品组名字</label>
      <nz-input [(ngModel)]="newGroup.groupName"></nz-input>
    </div>
    <div class="field">
      <label class="label"> 备注</label>
      <nz-input [(ngModel)]="newGroup.summary" [nzType]="'textarea'"></nz-input>
    </div>
    <!-- <div class="field"> -->
    <!-- <label class="label"> 推荐首页</label> -->
    <!-- <nz-switch [(ngModel)]="newGroup."></nz-switch> -->
    <!-- </div> -->
    <div class="field">
      <label>产品组图片</label>
      <div>
        <figure (click)="selectFile()">
          <img src="/assets/images/upload-image.png" alt="">
        </figure>
        <figure>
          <img [src]="newGroup.image" style="max-width:100%;max-height:100%;" alt="">
        </figure>
      </div>
    </div>


  </ng-template>
</nz-modal>



<!-- 修改产品组对话框 -->
<ng-container *ngIf="selectedGroup">
  <nz-modal [nzVisible]="modifyModalVisible" [nzTitle]="'修改产品组'" [nzContent]="modalContent" (nzOnCancel)="modifyModalVisible=false;"
    (nzOnOk)="modifyModalVisible=false;modifyGroup($event)">
    <ng-template #modalContent>
      <div class="field">
        <label class="label"> 修改产品组名字</label>
        <nz-input [(ngModel)]="selectedGroup.groupName"></nz-input>
      </div>
      <div class="field">
        <label class="label"> 备注</label>
        <nz-input [(ngModel)]="selectedGroup.summary" [nzType]="'textarea'"></nz-input>
      </div>
      <!-- <div class="field"> -->
      <!-- <label class="label"> 推荐首页</label> -->
      <!-- <nz-switch [(ngModel)]="newGroup."></nz-switch> -->
      <!-- </div> -->
      <div class="field">
        <label>产品组图片</label>
        <div>
          <figure (click)="modifyFile()">
            <img src="/assets/images/upload-image.png" alt="">
          </figure>
          <figure>
            <img [src]="selectedGroup.image" style="max-width:100%;max-height:100%;" alt="">
          </figure>
        </div>
      </div>


    </ng-template>
  </nz-modal>
</ng-container>



<ng-container *ngIf="selectedGroup">
  <nz-modal [nzVisible]="modifyDiscountVisible" [nzTitle]="'修改产品组'" [nzContent]="modalContent" (nzOnCancel)="modifyDiscountVisible=false;"
    (nzOnOk)="modifyDiscountVisible=false;modifyGroup($event)">
    <ng-template #modalContent>
      <h1>{{selectedGroup.groupName}}</h1>
      <div class="field">
        <label class="label"> 更新所有子产品折扣</label>
        <nz-input [(ngModel)]="newDiscount"></nz-input>
      </div>
    </ng-template>
  </nz-modal>

</ng-container>
