<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item>
    <a> 系统管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/admin/system/role"> 栏目管理</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>



<div style="background:#fff;padding:30px">
  <nz-table #ajaxTable nzShowSizeChanger [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="name">Name</th>
        <th nzShowFilter (nzFilterChange)="updateFilter($event)">Gender</th>
        <th nzShowSort nzSortKey="email">
          <span>Email</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{data.name.first}} {{data.name.last}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.email}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
