<nz-card id="nz-card">
  <ng-template #title>待收货
  </ng-template>
  <ng-template #body>
    <div style="display:flex;">
      <div style="flex:1">订单编号 {{order._id}}</div>

      <div style="flex:1">状态 待收货</div>
      <div style="flex:1">产品编号 {{order.product._id}}</div>
    </div>
    <div>
      发起时间 {{ order.createDt | date:'yyyy-MM-dd hh:mm:ss'}}
    </div>
    <hr>
    <h3> 用户信息</h3>
    <div style="display:flex">
      <div style="flex:1">用户姓名: {{order.user?.nickname || order.user?.Nickname}} </div>
      <div style="flex:1">联系电话: {{order.user?.Phone}}</div>
      <div style="flex:1">常用快递: 菜鸟仓储</div>
    </div>
    <div style="display:flex">
      <div style="flex:1">取货地址: {{order.reciveAddress.region}} {{order.reciveAddress.city}} {{order.reciveAddress.area}} </div>
      <div style="flex:1">详细地址: {{order.reciveAddress.detailAddress}}</div>
      <div style="flex:1">
        <button nz-button [nzType]="'primary'">联系商家</button>
      </div>
    </div>

    <!--  -->
    <nz-table #nzTable [nzDataSource]="data">
      <thead nz-thead>
        <tr>
          <th nz-th>
            <span>订单号</span>
          </th>
          <th nz-th>
            <span>商品名称</span>
          </th>
          <th nz-th>
            <span>商品编号</span>
          </th>
          <th nz-th>
            <span>商品状态</span>
          </th>
          <th nz-th>
            <span>单价 元/斤</span>
          </th>
          <th nz-th>
            <span>数量</span>
          </th>
          <th nz-th>
            <span>总金额</span>
          </th>
          <th nz-th>实际金额</th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr>
          <td nz-td>{{order._id}}</td>
          <td nz-td>
            <a>{{order.product.name}}</a>
          </td>
          <td nz-td>{{order.product._id}}</td>
          <td nz-td>
            <app-order-state [state]="order.state"></app-order-state>
          </td>
          <td nz-td>{{order.product.price}}</td>
          <td nz-td>{{order.num}}</td>
          <td nz-td>{{order.num * order.product.price}}</td>
          <td nz-td>{{order.totalPrice}}</td>
        </tr>
      </tbody>
    </nz-table>


    <nz-steps [(nzCurrent)]="current">
      <nz-step [nzTitle]="'未确认'" [nzStatus]="'finish'" [nzDescription]="'用户'+(order.user.nickname || order.user.Nickname)+'未确认   '  + (order.createDt | date:'yyyy-MM-dd hh:mm:ss') ">
        <ng-template #nzIcon>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-step>
      <nz-step [nzTitle]="'待发货'" [nzDescription]="'用户 '+(order.user.nickname || order.user.Nickname) +(order.payDate | date:'yyyy-MM-dd hh:mm:ss')+'支付完成'"
        [nzStatus]="'finish'">
        <ng-template #nzIcon>
          <i class="anticon anticon-solution"></i>
        </ng-template>
      </nz-step>
      <nz-step [nzTitle]="'待收货'" [nzDescription]="'商家已发货 ' +(order.sendDt | date:'yyyy-MM-dd hh:mm:ss') " [nzStatus]="'process'">
        <ng-template #nzIcon>
          <i class="anticon anticon-credit-card"></i>
        </ng-template>
      </nz-step>
      <nz-step [nzTitle]="'已完结'" [nzStatus]="'wait'">
        <ng-template #nzIcon>
          <i class="anticon anticon-smile-o"></i>
        </ng-template>
      </nz-step>
    </nz-steps>
    <!-- 订单各个状态的数据 -->


  </ng-template>
</nz-card>


<!-- 发货的对话框 -->
<nz-modal [nzVisible]="isVisible" [nzTitle]="'确认发货'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
  <ng-template #modalContent>
    <div class="form">
      <div>
        <div class="label">物流通道 </div>
        <div class="field">
          <nz-select style="width: 120px;" [(ngModel)]="selectedOption" [nzPlaceHolder]="'选择物流公司'" nzAllowClear>
            <nz-option *ngFor="let option of options " [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div>
        <div class="label"> 备注</div>
        <div class="field">
          <nz-input [(ngModel)]="inputValue2" [nzType]="'textarea'"></nz-input>
        </div>

      </div>


      <div>
        <div class="label"> 发货日期</div>
        <div class="field">
          <nz-datepicker [(ngModel)]="date" [nzPlaceHolder]="'发货日期'"></nz-datepicker>
        </div>
      </div>

    </div>


  </ng-template>
</nz-modal>
